<h1>DBZ main page</h1>
<hr>

<div class="row">
  <div class="col">
    <!-- Aqui estoy diciendole a dbz-lista cual es la lista -->
    <!-- Aqui nos suscribimos al emisor con el $event -->
     <!-- Se esta realizando llamada al dbzService -->
      <dbz-lista (onDeletePersonaje)="onDeletePersonaje($event)" [milista] = "personajes"></dbz-lista>
  </div>

  <div class="col">
    <!-- Usamos el $event para enviar el personaje desde el html -->
    <dbz-add (onNewPersonaje)="onNewPersonaje($event)"></dbz-add>
  </div>
</div>
